header{
    background-image: url(../img/header.jpg);
    background-color: aquamarine;
    height: 500px;
    width: 100vw;
    background-position:center left;
}
#navY{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
#navY1{
    margin-top: 30px;
    color: white;
}
#navY2{
    display: flex;
    justify-content: space-around;
}
.clY1{
    margin-left:70px;
    margin-top: 30px;
    color: white;
}
#d2Y{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 200px;
}
#s1Y{
    font-size: 40px;
}
#s2Y{
    letter-spacing: 15px;
    font-size: 20px;
}
#s3Y{

}
#btY1{
    background-color:purple;
    color: #fff;
    border:none;
    border-radius:10px;
}